@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Montserrat:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body{
    margin: 0;
}
:root{
    --corAreia: #f5eee1;
    --corBtn: #e5ab65;
    --corTittle: #3567aee0;
}
.headerIcons{
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
}
.headerIcons svg {
    width: 3rem;  
    height: 3rem;      
    stroke: #1A365D;  
    transition: stroke 0.3s ease;
    cursor: pointer;
}

.headerIcons svg:hover {
    stroke: var(--corBtn);
}
.cart-container {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #E76F51;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
}
.storeTittle{
    font-family: 'Playfair Display', serif;
    margin-left: 5rem;
}
h1{
    color: var(--corBtn);
    font-size: 3.8rem;
    margin-bottom: 0;
    
}
p{
    margin-top: 0;
    font-size: 2rem;
}
#headerContainer{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: var(--corAreia);
    align-items: center;
}
.navList{
    list-style-type: none;
    display: flex;
    gap: 3rem;
}
.navList li{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0 1rem;
    transition: color .7s ease;
}
.navList li:hover{
    color: var(--corBtn);

}
.home{
    color: var(--corBtn);
    border-bottom: 2px solid;
    padding: 0;
}
#heroBg{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    ;
}
.secondBgImg{
    width: 130%;
    height: 95vh;
    object-fit: cover;
    object-position: center;
}
.backGroundContent{
    position: absolute;
    top: 50%;         
    left: 10%; 
    transform: translateY(-50%); 
    z-index: 2;
}
.backGroundContent h2{
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    color: var(--corAreia) ;
    margin-bottom: 0;
    text-transform: uppercase;
}
.backGroundContent p{
    text-transform: capitalize;
    color: #DF9E5A;
    font-weight: 600;
    font-size: 2.4rem;
}
.bgBtn{
    text-transform: uppercase;
    font-size: 1.8rem;
    background-color: #2C2C2C;
    border: none;
    padding: 1.2rem 2rem;
    border-radius: .8rem;
    color: #F5EBE1;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.561);
}
.bgBtn:hover{
    background-color: rgba(0, 0, 0, 0.728);
}
h3{
    color: rgba(0, 0, 0, 0.835);
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}
#mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.shoreClothing{
    display: flex;
    gap: 5rem;
    list-style-type: none;
    justify-content: center;
}
.flexLi{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.flexPrice{
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.oldPrice{
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: 500;
    color: #6c728978;
}
.flexPrice p{
    font-family: 'Fraunces',serif ;
    font-size: 2.3rem;
    color: #1C4336;
    opacity: .8;
}
.clothName{
    font-size: 2.8rem;
    font-family: 'Playfair Display', serif;
    margin: 0;
    width: 15ch;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.846);
}
.flexLi img{
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.296);
    margin-bottom: 2rem;
    height: 50vh;
    width: 17vw;
    cursor: pointer;
    transition: all .5s ease;
}
.flexLi img:hover{
    width: 18vw;
    height: 51vh;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.814);
}
h4{
    margin: 2rem 0 0;
    text-align: center;
    font-size: 3.7rem;
    font-weight: 500;
}
#instagramContainer{
    background-color: var(--corAreia);
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.postImg{
    width: 20vw;
    margin: 3rem;
}
.btnSiga{
    background-color: transparent;
    border: 1px solid black;
    border-radius: .8rem;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    transform: scaleY(0.9);
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
    color: rgba(0, 0, 0, 0.706);
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}
.btnSiga:hover{
    background-color: rgba(0, 0, 0, 0.818);
    color: white;
}

footer p{
    color: rgba(0, 0, 0, 0.628);
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
}
.flexInfos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btnResp{
    display: none;
}
.headerRespStoreIcon{
    display: none;
}